<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <h3>An error occured :(</h3>
    <span>To get back to the main page press the button below.</span>
    <table>
        <tr>
            <td>Timestamp</td>
            <td th:text="${timestamp}">tmp</td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}">tmp</td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}">tmp</td>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}">tmp</td>
        </tr>
    </table>

    <a class="btn btn-warning" th:href="@{/books}">Take me back</a>
</div>
</body>

</html>