<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

    <head>
        <title>Book List</title>
    </head>

    <body>
        <section>
            <h3>Books</h3>
            <table>
                <tbody>
                <tr th:each="book : ${books}">
                    <td><a th:href="@{/books} + '/' + ${book.id}" th:text="${book.title}">Test Title</a></td>
                </tr>
                </tbody>
            </table>
        </section>
        <br />
        <br />
        <section>
        <a class="btn btn-primary" th:href="@{/books/create}">Create New Book</a>
        </section>
    </body>

</html>