<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})} " xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book List</title>
</head>

<body>
<section>
    <br/>
    <div class="container-fluid">
        <h3>Books</h3>
    </div>
    <br/>
    <ul class="list-group">
        <tr th:each="book : ${books}">
            <li class="list-group-item"><a th:href="@{/books} + '/' + ${book.id}" th:text="${book.title}">placeholder
                title</a></li>
        </tr>
        <li class="list-group-item"><a class="btn btn-primary" th:href="@{/books/create}">Create New Book</a></li>
    </ul>
</section>
</body>

</html>